@import "tailwindcss";

@font-face {
    font-family: "Poiret-One";
    src: url("./fonts/poiret-one-v18-latin-regular.woff2") format("woff2");
}

.bg-image {
    background-image: url('./img/alexander-grey-NkQD-RHhbvY-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

h1,
h2, p {
    font-family: "Poiret-One";
}

.play-image {
    background-image: url(./img/drew-colins-LIEQsu5JuoM-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}